<?xml version="1.0" encoding="utf-8"?>
<Macro Key="f5c429b4-1ef0-481b-a4cb-6c3abdb9e29b" Alias="Register" Level="0">
  <Name>Register</Name>
  <MacroSource>~/Views/MacroPartials/Register.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>