<?xml version="1.0" encoding="utf-8"?>
<Content Key="7dc44ba1-18d5-488c-9007-ae6b6cafb0e9" Alias="Recovery" Level="3">
  <Info>
    <Parent Key="309d0ca6-1050-43fe-8bb9-9ad83aa9c0de">Login</Parent>
    <Path>/Home/Login/Recovery</Path>
    <Trashed>false</Trashed>
    <ContentType>recovery</ContentType>
    <CreateDate>2025-07-25T13:34:49</CreateDate>
    <NodeName Default="Recovery" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9e1eb5ca-1c7a-44ce-b015-b85f1c2038cf">Recovery</Template>
  </Info>
  <Properties>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>