<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ebed47bf-fbca-47e7-9e4a-6d186818a3b5" Alias="recovery" Level="2">
  <Info>
    <Name>Recovery</Name>
    <Icon>icon-help-alt color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d690c8cb-2622-43b9-8cf9-fdca7811ee4d">headerControls</Composition>
      <Composition Key="ce869f5c-d410-4a3e-8572-9593e49101c6">mainImageControls</Composition>
      <Composition Key="9090575e-290c-4585-91a4-b72ec30ff41f">sEOControls</Composition>
      <Composition Key="7cebdc47-a965-49ec-ab42-bc887d6b1119">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Recovery</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9e1eb5ca-1c7a-44ce-b015-b85f1c2038cf">Recovery</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>